<app-layout>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Рецепты</h1>
      </div>
    </div>
  </div>


  <div class="col-sm-6 col-lg-4">
    <div class="card mt-4">
      <div class="images" [style.background-image]="'url(http://bhappy.com.ua/image/cache/catalog/kuk_buk_dlya_zapisi_receptov_kremovyj_429-1000x700.jpg)'"></div>
      <div class="card-block">
        <h4 class="card-title">Добавить новое блюдо</h4>
        <p class="card-text"> </p>
        <div class="row">
          <div href="#" class="col-sm-12 col-md-12 col-lg-6 mt-4">
            <button class="btn btn-danger w-100" (click)="showDialog()">
              <i class="fa fa-plus-square" aria-hidden="true"></i>
              Добавить
            </button>

            <p-dialog header="Добавляем новый рецепт"
                      [(visible)]="display"
                      modal="modal"
                      width="1024" [responsive]="true">

              <div class="form-group row">
                <label for="title" class="col-2 col-form-label">Название</label>
                <div class="col-10">
                  <input class="form-control" [(ngModel)]="recipe.title" type="text" id="title">
                </div>
              </div>
              <div class="form-group row">
                <label for="imgUrl" class="col-2 col-form-label">Путь к картинке</label>
                <div class="col-10">
                  <input class="form-control" [(ngModel)]="recipe.imgUrl" type="text" id="imgUrl">
                </div>
              </div>

              <div class="form-group row">
                <label for="description" class="col-2 col-form-label">Описание</label>
                <div class="col-10">
                  <p-editor id="description" [style]="{'height':'200px'}" [(ngModel)]="recipe.description"></p-editor>
                </div>
              </div>

              <div *ngFor="let ingridient of recipe.ingredients">
                <div class="form-group row">
                  <label for="title-ingridient" class="col-2 col-form-label">Название</label>
                  <div class="col-10">
                    <input class="form-control" [(ngModel)]="ingridient.title" type="text" id="title-ingridient">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="quantity" class="col-2 col-form-label">Коилчество</label>
                  <div class="col-10">
                    <input class="form-control" [(ngModel)]="ingridient.quantity" type="text" id="quantity">
                  </div>
                </div>
              </div>

              <button (click)="addIngridient()">Добавить поле</button>

              <p-footer>
                <button class="btn btn-danger" (click)="display=false" label="No">Отмена</button>
                <button class="btn btn-success" (click)="saveRecipe()" label="Yes">Сохранить</button>
              </p-footer>
            </p-dialog>


          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngFor="let recipe of recipeList" class="col-sm-6 col-lg-4">
    <div class="card mt-4">
      <div class="images" [style.background-image]="'url(' + recipe.imgUrl + ')'"></div>
      <div class="card-block">
        <h4 class="card-title">{{recipe.title}}</h4>
        <p class="card-text"> </p>
        <div class="row">
          <div href="#" class="col-sm-12 col-md-12 col-lg-6 mt-4">
            <button
                (click)="show(recipe)"
                class="btn btn-primary w-100">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
              Подробнее</button>
          </div>
          <div href="#" class="col-sm-12 col-md-12 col-lg-6 mt-4">
            <button *ngIf="!recipe.shopList" class="btn btn-success w-100" (click)="addShopList(recipe)">
              <i class="fa fa-cart-plus" aria-hidden="true"></i>
              Закупить</button>
            <i *ngIf="recipe.shopList" class="fa f24 float-right fa-check-square-o px-2" aria-hidden="true"></i>
            <i *ngIf="recipe.shopList" (click)="removeShopList(recipe)" class="fa text-danger float-right px-2 f24 fa-minus-circle" aria-hidden="true"></i>

          </div>

        </div>

      </div>
    </div>
  </div>

</app-layout>

