<app-layout>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div *ngIf="user">
          <div class="row">
            <div class="col-sm-2">
              name:
            </div>
            <div class="col-sm-12 col-md-4">
              <input class="form-control" type="text" [(ngModel)]="user.name">
            </div>
            <div class="clearfix mt-1"></div>
            <div class="col-sm-2">
              phone:
            </div>
            <div class="col-sm-12 col-md-4">
              <input class="form-control" type="text" [(ngModel)]="user.phone">
            </div>
            <div class="clearfix mt-1"></div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              address:
            </div>
            <div class="col-sm-12 col-md-4">
              <input class="form-control" type="text" [(ngModel)]="user.adress">
            </div>
            <div class="clearfix mt-1"></div>
            <div class="col-sm-2">
              Email:
            </div>
            <div class="col-sm-12 col-md-4">
              <input class="form-control" type="text" [(ngModel)]="user.email">
            </div>
          </div>
          <button class="btn-success btn" (click)="save()">Save</button>
        </div>
      </div>
    </div>
  </div>

</app-layout>
